<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>signin</servlet-name>
        <servlet-class>com.websoc.signin</servlet-class>
    </servlet>
  
    <servlet-mapping>
        <servlet-name>signin</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>signIn</servlet-name>
        <jsp-file>/signIn.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>signIn</servlet-name>
        <url-pattern>/signIn</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>home</servlet-name>
        <jsp-file>/home.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>error</servlet-name>
        <jsp-file>/error.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>error</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>logout</servlet-name>
        <jsp-file>/logout.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>chatRoom</servlet-name>
        <jsp-file>/chatRoom.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>chatRoom</servlet-name>
        <url-pattern>/chatRoom</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>account</servlet-name>
        <jsp-file>/account.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>account</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/error?errorCode=404</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/error?errorCode=405</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error?errorCode=500</location>
    </error-page>
      <servlet>
        <servlet-name>removeUser</servlet-name>
        <servlet-class>com.websoc.removeUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>removeUser</servlet-name>
        <url-pattern>/removeUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>rmUsr</servlet-name>
        <jsp-file>/rmUsr.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>rmUsr</servlet-name>
        <url-pattern>/rmUsr</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>manageDatabase</servlet-name>
        <jsp-file>/manageDatabase.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>manageDatabase</servlet-name>
        <url-pattern>/manageDatabase</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
